@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lilita+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mooli&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(sass/content.scss);
@import url(sass/footer.scss);
@import url(sass/header.scss);
@import url(sass/style.scss);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.between{
  justify-content: space-between;
}
.align{
  align-items: center;
}
.content{
  justify-content: center;
}
@keyframes animate{
  100%{
    height: fit-content;
  }
}

@media (max-width:1024px){
  .container{
    max-width: 100%;
  }
}
@media (min-width:768px) and (max-width:900px){
  .carDetails{
    display: flex!important;
    flex-wrap: wrap;
  }
  .item:nth-child(3){
    justify-content: start!important;
    align-items: start;
  }
}
@media (min-width:560px) and (max-width:767px){
  .carDetails{
    display: flex!important;
    flex-wrap: wrap;
  }
  .recommend-item > .col >.row:nth-child(1){
    font-size: 2rem!important;
  }
  .recommend-item > .col >.row:nth-child(2){
    font-size: 1rem!important;
  }
  .item:nth-child(3){
    justify-content: start!important;
    align-items: start;
  }
  .colorDetails{
    justify-content: end!important;
  }
}
@media (min-width:300px) and (max-width:559px){
  .carDetails{
    display: flex!important;
    flex-wrap: wrap;
    font-size: .85rem!important;
  }
  .recommend-item > .col >.row:nth-child(1){
    font-size:1.2rem!important;
  }
  .recommend-item > .col >.row:nth-child(2){
    font-size: .8rem!important;
  }
  .item:nth-child(3){
    justify-content: start!important;
    align-items: start;
  }
  .colorDetails{
    justify-content: start!important;
  }
}